In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [5]:
data = pd.read_csv("/media/dell/Beta/ANN_tutorial/Churn_Modelling.csv")
data

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

In [6]:
#preprocessing
data =data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [7]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [8]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [9]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [10]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [11]:
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [12]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [13]:
X=data.drop('Exited',axis=1)
y=data['Exited']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [14]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

In [18]:
X_train.shape[1]

12

In [19]:
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1,activation='sigmoid')
])

2024-09-07 14:29:25.517044: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:901] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-09-07 14:29:25.517616: W tensorflow/core/common_runtime/gpu/gpu_device.cc:2256] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [20]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy()
loss

In [22]:
model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])

In [23]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime
log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [24]:
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [25]:
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4036 - accuracy: 0.8295 - val_loss: 0.3661 - val_accuracy: 0.8565
Epoch 2/100
250/250 [==============================] - 0s 617us/step - loss: 0.3552 - accuracy: 0.8535 - val_loss: 0.3566 - val_accuracy: 0.8545
Epoch 3/100
250/250 [==============================] - 0s 573us/step - loss: 0.3495 - accuracy: 0.8574 - val_loss: 0.3401 - val_accuracy: 0.8625
Epoch 4/100
250/250 [==============================] - 0s 540us/step - loss: 0.3427 - accuracy: 0.8587 - val_loss: 0.3374 - val_accuracy: 0.8570
Epoch 5/100
250/250 [==============================] - 0s 699us/step - loss: 0.3391 - accuracy: 0.8621 - val_loss: 0.3591 - val_accuracy: 0.8550
Epoch 6/100
250/250 [==============================] - 0s 557us/step - loss: 0.3392 - accuracy: 0.8591 - val_loss: 0.3408 - val_accuracy: 0.8595
Epoch 7/100
250/250 [==============================] - 0s 547us/step - loss: 0.3367 - accuracy: 0.8618 - val_loss: 0.3389 - val_accuracy: 0.8585
Epoch 8/100
250/250 [==============================] - 0s 604us/step - loss: 0.3333 - accuracy: 0.8608 - val_loss: 0.3419 - val_accuracy: 0.8610
Epoch 9/100
250/250 [==============================] - 0s 682us/step - loss: 0.3295 - accuracy: 0.8635 - val_loss: 0.3472 - val_accuracy: 0.8575
Epoch 10/100
250/250 [==============================] - 0s 801us/step - loss: 0.3287 - accuracy: 0.8627 - val_loss: 0.3457 - val_accuracy: 0.8620
Epoch 11/100
250/250 [==============================] - 0s 606us/step - loss: 0.3254 - accuracy: 0.8679 - val_loss: 0.3366 - val_accuracy: 0.8660
Epoch 12/100
250/250 [==============================] - 0s 574us/step - loss: 0.3255 - accuracy: 0.8654 - val_loss: 0.3590 - val_accuracy: 0.8565
Epoch 13/100
250/250 [==============================] - 0s 649us/step - loss: 0.3233 - accuracy: 0.8655 - val_loss: 0.3445 - val_accuracy: 0.8635
Epoch 14/100
250/250 [==============================] - 0s 598us/step - loss: 0.3224 - accuracy: 0.8664 - val_loss: 0.3588 - val_accuracy: 0.8570
Epoch 15/100
250/250 [==============================] - 0s 591us/step - loss: 0.3179 - accuracy: 0.8669 - val_loss: 0.3873 - val_accuracy: 0.8565
Epoch 16/100
250/250 [==============================] - 0s 757us/step - loss: 0.3184 - accuracy: 0.8670 - val_loss: 0.3633 - val_accuracy: 0.8585
Epoch 17/100
250/250 [==============================] - 0s 803us/step - loss: 0.3158 - accuracy: 0.8689 - val_loss: 0.3680 - val_accuracy: 0.8560
Epoch 18/100
250/250 [==============================] - 0s 609us/step - loss: 0.3159 - accuracy: 0.8685 - val_loss: 0.3496 - val_accuracy: 0.8630
Epoch 19/100
250/250 [==============================] - 0s 534us/step - loss: 0.3120 - accuracy: 0.8704 - val_loss: 0.3437 - val_accuracy: 0.8585
Epoch 20/100
250/250 [==============================] - 0s 644us/step - loss: 0.3098 - accuracy: 0.8730 - val_loss: 0.3711 - val_accuracy: 0.8575
Epoch 21/100
250/250 [==============================] - 0s 633us/step - loss: 0.3088 - accuracy: 0.8723 - val_loss: 0.3494 - val_accuracy: 0.8555

In [26]:
model.save('model.h5')

/media/dell/Beta/ANN_tutorial/venv/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [27]:
%load_ext tensorboard

In [30]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 18715), started 1:44:47 ago. (Use '!kill 18715' to kill it.)

In [35]:
# Prediction
from keras.models import load_model
model=load_model('model.h5')

with open('onehot_encoder_geo.pkl','rb') as file:
    label_encoder_geo = pickle.load(file)

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender = pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

In [37]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [38]:
# One-hot encode 'Geography'
geo_encoded = label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

/home/dell/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [39]:
input_df=pd.DataFrame([input_data])
input_df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [40]:
## Encode categorical variables
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France       1  ...          1               1            50000

[1 rows x 10 columns]

In [41]:
## concatination one hot encoded 
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis=1)
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [42]:
## Scaling the input data
input_scaled=scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [43]:
## Predict churn
prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 40ms/step

array([[0.03278666]], dtype=float32)

In [44]:
prediction_proba = prediction[0][0]

In [45]:
prediction_proba

0.03278666

In [46]:
if prediction_proba > 0.5:
    print('The customer is likely to churn.')
else:
    print('The customer is not likely to churn.')

The customer is not likely to churn.